FS.SpareStores/node_modules/
FS.SpareStores/css/
FS.SpareStores/bundles/
FS.SpareStores/bin/
packages/
FS.SpareStores.DAL/bin/
FS.SpareStores.DAL/obj/
FS.SpareStores/obj/
.vs/
AmazonSyncWebJob/bin
AmazonSyncWebJob/obj
DeldoSynchWebJob/bin
DeldoSynchWebJob/obj
FS.SpareStores.Reports/bin
FS.SpareStores.Reports/obj
MarketplaceWebService/bin
MarketplaceWebService/obj
PrestashopSyncWebJob/bin
PrestashopSyncWebJob/obj
